<!DOCTYPE html>
<html lang="en">

<head>

    <title>SkillShare</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="css/mycss.css">
    <link rel="stylesheet" href="css/class.css">
    <!-- 
	//////////////////////////////////////////////////////

	Debo Tutor
	DESIGNED & DEVELOPED by DEBO DEVELOPER TEAM
    DATE:           APR 5, 2022
    LOCATION:       JIMMA, OROMIA, ETHIOPIA
		
	Website: 		UNSET
	Email: 			UNSET
	Twitter: 		UNSET
	Facebook: 		UNSET

	//////////////////////////////////////////////////////
	 -->

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- MENU Section-->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">

                <a href="index.html" class="navbar-brand">DEBO TUTOR</a>
            </div>
        </div>
    </section>

    <section class="video-reg">
        <video src="video/welcome.mp4" controls class="video"></video>
        <div class="video-descr">
            <h2>Fundamentals of DSLR Photography | Orginal</h2>
            <div class="teacher-descrp">
                <div class="images">
                    <img src="images/author-image1.jpg" alt="Teacher image">
                </div>
                <a href="#" class="teacherName">Teacher Name</a>
            </div>
        </div>

    </section>

    <section class="watch-class">
        <h2>Watch all classess and...</h2>
        <div class="watch-descr">
            <div class="descr-1">
                <div class="line-hr"></div>
                <p>Taught by industry leaders & working professionals</p>
            </div>

            <div class="descr-1">
                <div class="line-hr"></div>
                <p>Taught by industry leaders & working professionals</p>
            </div>

            <div class="descr-1">
                <div class="line-hr"></div>
                <p>Taught by industry leaders & working professionals</p>
            </div>
        </div>
    </section>

    <section class="class-details">
        <div class="summary-class">
            <h2>Lesson in this class</h2>
            <p class="par-class"><span>8 </span> Lessons <span> (43m)</span> </p>
        </div>
        <div class="detail-playlist">
            <div class="lists">
                <div class="lock-and-playlist">
                    <div class="lock-icon"></div>
                    <div class="playlist-name">
                        <p class="par-class">Introduction</p>
                    </div>
                </div>
                <div class="playlist0-length">
                    <p class="par-class">8:00</p>
                </div>
            </div>

            <div class="lists">
                <div class="lock-and-playlist">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock lock-icon" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                      </svg>
                    <!-- <div class="lock-icon"></div> -->
                    <div class="playlist-name">
                        <p class="par-class">Doing Great</p>
                    </div>
                </div>
                <div class="playlist0-length">
                    <p class="par-class">8:00</p>
                </div>
            </div>

            <div class="lists">
                <div class="lock-and-playlist">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock lock-icon" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                      </svg>
                    <!-- <div class="lock-icon"></div> -->
                    <div class="playlist-name">
                        <p class="par-class">why we self Sabotage</p>
                    </div>
                </div>
                <div class="playlist0-length">
                    <p class="par-class">8:00</p>
                </div>
            </div>

            <div class="lists">
                <div class="lock-and-playlist">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock lock-icon" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                      </svg>
                    <!-- <div class="lock-icon"></div> -->
                    <div class="playlist-name">
                        <p class="par-class">Know You Potential</p>
                    </div>
                </div>
                <div class="playlist0-length">
                    <p class="par-class">8:00</p>
                </div>
            </div>




        </div>
    </section>
</body>

</html>