<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LosePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="letter">

        <!-- A class -->
        <div class="A">
            <div class="A1">
                <video src="loseVideo.mp4" controlslist="nodownload" class="A1-video" controls alt="videocontent"></video>
            </div>
            <div class="A2">
                <h1>Java Programming</h1>
                <h3>Become a computer programmer by learning core Java skills</h3>
                <p>created by <a href="#">Robera Insarmu</a></p>
                <div class="A21">
                    <i class="fa fa-clock-o b11-icon"></i>
                    <p>last update 3/2022</p>
                </div>
            </div>
        </div>

        <!-- course Section start-->
        <div class="course-section">
            <!-- B class -->
            <div class="B">

                <div class="B1-h">
                    <h2>Course Content</h2>
                    <p>10 Lectures</p>
                </div>

                <div class="B1 ok">
                    <div class="B11">

                        <i class="fa fa-chevron-circle-down b11-icon ok"></i>
                        <p class="ok">Introduction</p>
                    </div>
                    <p class="ok">3 hour</p>
                </div>

                <!-- Bb class start -->
                <div class="Bb">
                    <div class="B1">
                        <div class="B11">
                            <i class="fa fa-play-circle b11-icon ok1"></i>
                            <p>one</p>
                        </div>
                        <p>1 hour</p>
                    </div>

                    <div class="B1">
                        <div class="B11">
                            <i class="fa fa-play-circle b11-icon ok1"></i>
                            <p>two</p>
                        </div>
                        <p>1 hour</p>
                    </div>
                </div>
                <!-- Bb class ended -->

                <div class="B1">

                    <div class="B11">
                        <i class="fa fa-file b11-icon oks"></i>
                        <p>Resource</p>
                    </div>
                    <p>3 pdf</p>
                </div>

                <!-- Bb class start -->
                <div class="Bb Bb-resource">
                    <div class="B1">
                        <div class="B11">
                            <i class="fa fa-file-zip-o b11-icon"></i>
                            <p>Chapter one</p>
                        </div>
                        <p>350 kb</p>
                    </div>

                    <div class="B1">
                        <div class="B11">
                            <i class="fa fa-file-zip-o b11-icon"></i>
                            <p>chapter two</p>
                        </div>
                        <p>350 kb</p>
                    </div>
                </div>
                <!-- Bb class ended -->
            </div>

        </div>

        <!-- C class -->
        <div class="C">
            <h1 style="margin-bottom: 0.5em;">Description</h1>
            <h3>Java tutors</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, nam corporis? Labore, at. Velit, obcaecati! Dicta aspernatur inventore illo cum quod et corrupti libero pariatur odio, omnis fugit repellat unde ipsa quis consequuntur amet
                nobis laboriosam vel facere deleniti. Voluptate temporibus vero sed voluptas accusantium optio repudiandae dolor ullam eaque quod voluptatem debitis doloremque beatae ratione iusto a itaque eum, totam vitae nobis. In et omnis, nam dolores
                odio totam doloribus odit nisi corporis recusandae. Dolorum eveniet autem laudantium. Sint error ipsam architecto pariatur. Eum perspiciatis, quisquam quam nobis labore mollitia beatae pariatur quae vitae, atque dolor a facere inventore.</p>
        </div>

    </section>

    <script src="app.js"></script>
</body>

</html>