 h5,
 h4.title,
 .your-feedback {
     color: #eee !important;
     font-size: 15px !important;
 }
 
 .course_details_left .course_list li .primary-btn {
     border-radius: 4px;
     font-size: 14px;
 }
 
 .comments-area a {
     color: #fdc632;
 }
 
 .right-content-p {
     color: #002347;
 }